version: '3.4'

services:
  gateway:
    image: ${DOCKER_REGISTRY-}gateway
    build:
      context: ../
      dockerfile: ./deploy/ApiGateway.Dockerfile
    ports:
      - "3000:80"

  catalog:
    image: ${DOCKER_REGISTRY-}catalog
    build:
      context: ../
      dockerfile: ./deploy/Catalog.Dockerfile
    ports:
      - "3001:80"
    depends_on:
      - event_bus

  profile:
    image: ${DOCKER_REGISTRY-}profile
    build:
      context: ../
      dockerfile: ./deploy/Profile.Dockerfile
    ports:
      - "3002:80"
    depends_on:
      - event_bus

  basket:
    image: ${DOCKER_REGISTRY-}basket
    build:
      context: ../
      dockerfile: ./deploy/Basket.Dockerfile
    ports:
      - "3003:80"
    depends_on:
      - event_bus

  identity:
    image: ${DOCKER_REGISTRY-}identity
    build:
      context: ../
      dockerfile: ./deploy/Identity.Dockerfile
    ports:
      - "3004:80"
    depends_on:
      - event_bus

  email:
    image: ${DOCKER_REGISTRY-}email
    build:
      context: ../
      dockerfile: ./deploy/Email.Dockerfile
    ports:
      - "3005:80"
    depends_on:
      - event-bus

  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"

  event_bus:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
      
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.com
      - PGADMIN_DEFAULT_PASSWORD=strongPassword123
    ports:
      - "3030:80"
    restart: unless-stopped
    volumes:
      - pgadmin:/root/.pgadmin
volumes: 
  pgadmin: